<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaon.channel.mapper.ChannelMapper">

	<select id="selectChannelList" resultType="ChannelVO">
			SELECT CH_ID
				, CCTV_MODEL
				, CCTV_LOC
				, CCTV_IP
				, CCTV_PORT
				, CCTV_RTSP
				, SERVER_IP
				, SERVER_PORT
				, SERVER_RTSP
				, TO_CHAR(REGIST_DATE, 'YYYY-MM-DD HH:MI:SS') as REGIST_DATE
				, REGIST_USER
				, TO_CHAR(MODIFY_DATE, 'YYYY-MM-DD HH:MI:SS') as MODIFY_DATE
				, MODIFY_USER
				, IS_USED
			FROM CHANNEL_INFO
	</select>
	
	<insert id="insertChannel" parameterType="ChannelVO">
		INSERT INTO CHANNEL_INFO (
			CH_ID
			, CCTV_MODEL
			, CCTV_LOC
			, CCTV_IP
			, CCTV_PORT
			, CCTV_RTSP
			, SERVER_IP
			, SERVER_PORT
			, SERVER_RTSP
			, REGIST_DATE
			, REGIST_USER
			, MODIFY_DATE
			, MODIFY_USER
			, IS_USED
		) VALUES (
			#{chId}
			, #{cctvModel}
			, #{cctvLoc}
			, #{cctvIp}
			, #{cctvPort}
			, #{cctvRtsp}
			, #{serverIp}
			, #{serverPort}
			, #{serverRtsp}
			, now()
			, #{modifyUser}
			, now()
			, #{modifyUser}
			, #{isUsed}
		)
	</insert>
	
	<update id="updateChannel" parameterType="ChannelVO">
		UPDATE CHANNEL_INFO
		SET CCTV_MODEL = #{cctvModel}
			, CCTV_LOC = #{cctvLoc}
			, CCTV_IP = #{cctvIp}
			, CCTV_PORT = #{cctvPort}
			, CCTV_RTSP = #{cctvRtsp}
			, SERVER_IP = #{serverIp}
			, SERVER_PORT = #{serverPort}
			, SERVER_RTSP = #{serverRtsp}
			, MODIFY_DATE = now()
			, MODIFY_USER = #{modifyUser}
			, IS_USED = #{isUsed}
		WHERE
			CH_ID = #{chId}
	</update>
	
	<update id="deleteChannel" parameterType="String">
		DELETE FROM CHANNEL_INFO
		WHERE
			CH_ID = #{chId}
	</update>

	<select id="selectChannel" resultType="ChannelVO">
		SELECT CH_ID
			, CCTV_MODEL
			, CCTV_LOC
			, CCTV_IP
			, CCTV_PORT
			, CCTV_RTSP
			, SERVER_IP
			, SERVER_PORT
			, SERVER_RTSP
			, TO_CHAR(REGIST_DATE, 'YYYY-MM-DD HH:MI:SS') as REGIST_DATE
			, REGIST_USER
			, TO_CHAR(MODIFY_DATE, 'YYYY-MM-DD HH:MI:SS') as MODIFY_DATE
			, MODIFY_USER
			, IS_USED
		FROM CHANNEL_INFO
		WHERE
			CH_ID = #{chId}
	</select>

	<select id="selectChannelStatusList" resultType="ChannelStatusVO">
		SELECT CH_ID
			, TO_CHAR(SVR_TIME, 'YYYY-MM-DD HH:MI:SS') as SVR_TIME
			, DETECT_SET
			, OBJ_SET
			, CCTV_STATUS
		FROM CHANNEL_STATUS
	</select>
	
	<select id="selectChannelStatus" resultType="ChannelStatusVO">
		SELECT CH_ID
			, TO_CHAR(SVR_TIME, 'YYYY-MM-DD HH:MI:SS') as SVR_TIME
			, DETECT_SET
			, OBJ_SET
			, CCTV_STATUS
		FROM CHANNEL_STATUS
		WHERE
			CH_ID = #{chId}
	</select>
</mapper>